/* CSS Reset */
body {
    font-family: 'Baloo Bhai', cursive;
    margin: 0;
    padding: 0;
    background: url('assets/images/Gym.jpg');
    color: white;
}

/* Header styles */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.left {
    display: flex;
    align-items: center;
}

.left img {
    width: 60px;
    filter: invert(100%);
    margin-right: 10px;
}

.left div {
    font-size: 24px;
}

.mid {
    flex-grow: 1;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.navbar li {
    margin: 0 15px;
}

.navbar li a {
    color: white;
    text-decoration: none;
    padding: 15px;
    font-size: 20px;
}

.navbar li a:hover,
.navbar li a.Active {
    text-decoration: underline;
    color: gray;
}

.right {
    display: flex;
    align-items: center;
}

.btn {
    font-family: 'Baloo Bhai', cursive;
    font-size: 18px;
    margin: 0 10px;
    background-color: blueviolet;
    color: white;
    padding: 10px 20px;
    border: 2px solid grey;
    border-radius: 10px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(46, 4, 80);
}

/* Container styles */
.Container {
    border: 2px solid white;
    margin: 50px;
    padding: 30px;
    border-radius: 20px;
    max-width: 800px;
    margin: 50px auto;
}

.form-group input {
    font-family: 'Baloo Bhai', cursive;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 18px;
    text-align: center;
}

.Container h1 {
    text-align: center;
}

.Container button {
    width: 100%;
    margin: 20px 0;
}

/* PhotoBox styles */
.PhotoBox {
    text-align: center;
}

.image {
    max-width: 100%;
    height: auto;
    border: 1px solid white;
    border-radius: 15px;
    margin: 20px;

}
#Avi{
    height: 95vh; 
    max-height: 100%;
}

/* Footer styles */
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer p {
    margin: 0;
    line-height: 1.5;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.social-icons {
    margin-top: 15px;
}

.social-icons a {
    margin: 0 10px;
    font-size: 24px;
    color: #fff;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .right {
        margin-top: 20px;
    }

    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navbar li {
        margin: 10px 0;
    }

    .btn {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 480px) {
    .Container {
        margin: 20px;
    }

    .btn {
        font-size: 16px;
        margin-top: 10px;
    }

    .form-group input {
        font-size: 16px;
    }

    .image {
        margin: 10px;
    }
}
